{% extends 'base.html.twig' %}

{% block title 'Modification de mot de passe' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-muted">
            <h1 class="my-3 text-center">Modification de mot de passe</h1>

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary btn-block" value="Modifier mot de passe">
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="btn btn-outline-secondary btn-block">Annuler</a>
                    </div>
                </div>
            {{ form_end(form) }}
            
        </div>
    </div>
{% endblock %}
