@import "~bootstrap/scss/bootstrap";

body {
    
}


.alert {
    padding: 10px;
    color: #fff;
    text-align: center;
    margin: 0;
    border: none;
    border-radius: 0;

    &.alert-success {
   		background-color: green;
    }
    &.alert-error {
        background-color: red;
    }

    &.alert-info {
        background-color: blue;
    }
    &.alert-warning {
        background-color: orange;
    }

}

.titre {
    background-color: #eeeeff;
    padding: 8px;
    font-size: 2.5em;
}

.vich-image {
    .custom-file {
        @extend .mb-4;
    }

    img {
        @extend .shadow;
        @extend .rounded;
        @extend .img-thumbnail;
        @extend .mb-2;
    }
}

.box-title {
    padding: 20px;
    background-color: #4a646c;
    color: #fff;
}

.article img{
    transition: transform 0.3s ease-out;

    &:hover {
        /*transform: scale(1.075);*/
        /*overflow: hidden;*/
    }
}

.promo{
    display: flex;
    padding: 20px;
    color: #fff;
    background: #540077;
    position: absolute;
    width: 25%;
    left: 262px;
    height: 16%;
    font-size: 26px;
    padding: 5px;
}

.img-parent {
    position: relative;
}

.btn-card {
    right: 20px;
    text-align: center;
    padding-top: 8px;
}
.link-card {
    text-decoration: none;
}
.link-card :hover {
    cursor: pointer;
    text-decoration: none;
}

.txt-detail {
    text-indent: 5%;
}