@import "~bootstrap/scss/bootstrap";

body {
    
}


.alert {
    padding: 10px;
    color: #fff;
    text-align: center;
    margin: 0;
    border: none;
    border-radius: 0;

    &.alert-success {
   		background-color: green;
    }
    &.alert-error {
        background-color: red;
    }

    &.alert-info {
        background-color: blue;
    }
    &.alert-warning {
        background-color: orange;
    }

}

.titre {
    background-color: #eeeeff;
    padding: 8px;
    font-size: 2.5em;
}

.vich-image {
    .custom-file {
        @extend .mb-4;
    }

    img {
        @extend .shadow;
        @extend .rounded;
        @extend .img-thumbnail;
        @extend .mb-2;
    }
}


