<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {#<link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}">#}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('card') }}
        {% endblock %}
    </head>
    <body>
        {% if is_granted('ROLE_EDITOR') %}
            {% include 'partials/_nav_bo.html.twig' %}
        {% else %}
            {% include 'partials/_nav.html.twig' with {'type_article': type_articles} %}
        {% endif %}
        {% include 'partials/_flash.html.twig' %}
        <main class="container">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
